.object-builder-container {
  margin: 1em;
  border: 1px solid lightgray;
}
.object-builder-key-input {
  margin: 0 0 0 1em !important;
  margin-right: 0 !important;
  width: 85% !important;
}
.object-builder-value-input {
  margin: 0 1em 0 0 !important;
  width: 245px !important;
}
.object-builder-button {
  margin: 1em !important;
}
.object-builder-button-group {
  margin: auto;
}
.object-builder-textarea {
  width: 425px;
  height: 125px !important;
  margin: 1em;
}